<html>
<script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<head>
	<style type="text/css">
   	.overlay {
  		fill: none;
  		pointer-events: all;
		}

		.dialogbox {
			position: absolute;
		  left: 300px;
		  top: 200px;
		  width: 400px;
			border: 1px solid lightgray;
			border-radius: 10px;
			z-index: 100;
			background-color: rgb(255, 255, 255);
			visibility: hidden;
		}
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	</head>
	<body>

	<div id="dialogdiv_bezier" class="dialogbox">
		<label>Spacing values</label>
    <input type="text" class="form-control" id="spacing_input"><br>
		<label>Velocity</label>
    <input type="text" class="form-control" id="velocity_input"><br>
		<center>
		<button class="btn btn-success" onClick="submit_dialogdata('dialogdiv_bezier');" id="submit_btn">OK</button>
		</center>
	</div>
	<div id="dialogdiv_point" class="dialogbox">
		<label>Velocity</label>
    <input type="text" class="form-control" id="velocity_input"><br>
		<center>
		<button class="btn btn-success" onClick="submit_dialogdata('dialogdiv_point');" id="submit_btn">OK</button>
		</center>
	</div>

		<div class="container" >
		<div class="row" style="border: 1px solid lightgray; border-radius: 8px;">
		<div class="col" style="border: 1px solid lightgray; border-radius: 8px;" id="files">
		</div>
		<div class="col" id="coregraph" style="border: 1px solid lightgray; border-radius: 8px;">
		</div>
		<div class="col" id="sounds" style="border: 1px solid lightgray; border-radius: 8px;">
		</div>
		</div>
		<div class="row" style="border: 1px solid lightgray; border-radius: 8px;">
		 <input type="checkbox" id="isometric_checkbox">
		 <label class="form-group form-check-label" for="defaultCheck1" >Isometric projection (infinite focal)</label><br>
		 <input type="checkbox" id="lockorigin_checkbox" onClick="toggle_lock();">
		 <label class="form-group form-check-label" for="defaultCheck1" >Lock on origin</label>
		</div>
		<div class="row" style="border: 1px solid lightgray; border-radius: 8px;" id="projection">
		</div>
	</div>
	</body>
</html>
<script src="/static/code.js"></script>
